## DICCIONARIOS

Para este ejercicio, crearás un diccionario que almacene información sobre el planeta Marte.

Agrega el código para crear un nuevo diccionario denominado 'planet'. Rellena con la siguiente información:
name: Mars
moons: 2
# Crea un diccionario llamado planet con los datos propuestos

In [21]:
planet = {'name':'Mars','moons':2}

Para recuperar valores, puede utilizar el método get o corchetes ([ ]) con el nombre de la clave que desea recuperar.

# Muestra el nombre del planeta y el número de lunas que tiene.

In [22]:
print(f'{planet["name"]} tiene {planet["moons"]} lunas')

Mars tiene 2 lunas

Agrega un nuevo valor con una clave de 'circunferencia (km)'. Este nuevo valor debería almacenar un diccionario con las dos circunferencias del planeta:

polar: 6752
equatorial: 6792
# Agrega la clave circunferencia con los datos proporcionados previamente

In [23]:
planet["circunferencia (km)"] = {"polar":6752, "equatorial":6792}

Imprime el nombre del planeta con su circunferencia polar.
# Imprime el nombre del planeta con su circunferencia polar.

In [24]:
print(f'{planet["name"]} con circunferencia polar de {planet["circunferencia (km)"]["polar"]} km')

Mars con circunferencia polar de 6752 km

En este escenario, calcularás tanto el número total de lunas en el sistema solar como el número promedio de lunas que tiene un planeta.

In [25]:
# Planets and moons
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

Agrega el código a continuación para determinar el número de lunas. Comienza almacenando el valor values de planet_moons en una variable denominada moons. A continuación, almacena el número de planetas en una variable denominada planets.
# Añade el código para determinar el número de lunas.

In [26]:
moons = planet_moons.values()
planets = len(planet_moons.keys())

Agrega el código para contar el número de lunas. Puedes hacerlo creando un ciclo for para iterar a través de las lunas moons y agregándolos a una variable denominada total_moons. Finalmente calcule el promedio dividiendo total_moons por planets e imprimiendo los resultados.

# Agrega el código para contar el número de lunas.

In [29]:
total_moons=0
for moon in moons:
    total_moons=total_moons + moon
print(total_moons/planets)

17.833333333333332